h1 {
    color: #2F4F4F;
    margin-top: 30px;
    text-align: center;

}

h3 {
    color: #2F4F4F;
    text-align: center;

}

h4 {
  color: #2F4F4F;
  text-align: center;
}

body {
    background-color: #FFFAF0;
}

.card-group {
    margin: 40px;
    padding: 50px;
    display: flex;
}

.card-img-top {
    height: 60%;
}

.card-body {
    text-align: center;
}

.user_img {
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height:150px;
}

th.func1{    
  text-align: center;
  width:6%;    
}    
th.func2{    
  text-align: center;
  width:5%;    
}   

.input_form {
    margin-top: 50px;
    text-align: center;
    color: #2F4F4F;
}

.register_form {
  margin-top: 50px;
  text-align: center;
  color: #2F4F4F;
}

.error_message {
    margin-top: 50px;
    text-align: center;
    color: red;
    letter-spacing: 3px;
    word-spacing: 5px;
    animation: opacity 1s ease-in-out infinite alternate;
    opacity: 1;
}

  @keyframes opacity {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5
    }
    100% {
      opacity: 0;
    }
  }